<main>

  <section id="post_flow">

    <% @posts.each do |post|  %> 
    <div class="post_entry">  
      <div class="post_header link">
        <h2><a href="/post/<%= post.id %>"><%= post.title[0].upcase %><%= post.title[1..-1] %></a></h2>
      </div>
      <div class="post_timestamp" style="display: inline;">
        <span><%= post.created_at %></span>
        <% if @authorized %>
        <form style="display: inline; margin-left: 20px;"  action="/post/<%= post.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" class="post_ctrl" value="delete" >
        </form>
        <span class="divider">.</span>
        <span><a class="post_ctrl" href="/post/<%= post.id %>/update">edit</a></span>
        <!-- <form style="display: inline;" action="/post/<%= post.id %>" method="post">
          <input type="hidden" name="_method" value="put">
          <input type="submit" class="post_ctrl" value="edit">
        </form> -->
         <% end %>
      </div>

      <div class="post_body">
        <p>
          <%= post.body[0..199] %>
          <% if post.body.length > 200 %>
            ...
          <% end %>
        </p>
      </div>

    </div>
    <% end %>

  </section>

</main>